include LICENSE
include README.md

recursive-include src/molecule_plugins/*/cookiecutter **/*
recursive-include src/molecule_plugins/*/modules **/*
recursive-include src/molecule_plugins/*/playbooks **/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
